#Landing{
	background-image: url("./Image/background.webp");
	height: 100vh;
	width: 100vw;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container-fluid .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%; 
  padding: 20px; 
}