/* 
Syntax of using CSS rules:
selector{
	property: value;
	{
 */

/*Universal Selector*/
/*It target all the elments in our webpage.*/
*{
/*font-family property changes the style of the font*/
	font-family: "Courier New", monospace;
/*font-size changes the size of the text	*/
	font-size: 20px;
}


/*Type selector*/
/*tag-name*/

h1{
	color: yellow;
}


/*ID Selector*/
/*It targets only one element.*/
#zuitt-mott{
/*the letter spacing property changes the spaces between the characters in a text.	*/
	letter-spacing: 5px;
}

/*Class Selector*/
/*.class-name*/
.offering-item{
/*text-transform property chnages the font to a certain case */
/*uppercase value changes the text to all capitalized letter*/
	text-transform: uppercase;
}

/*Attribute selector*/
/*[attribute]*/
[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*h3{
	letter-spacing: 25px !important;
}*/

/*Adjacent sibling selector*/
/*element-for-reference + targer+element*/

h3 + img{
/*height property changes the vertical dimensions of an element	*/
height: 300px;
/*width property changes the horizontal dimentions of an elemnts */
width: 300px;
border-radius: 150px;
}

/*Descendance Selector*/
/*elemnt-for-reference target-element*/
#bootcamp-learning-list li{
	color: #5054C7;
}

/*General Sibling Selctor*/
h2 ~ a{
/*text-decoration property changes lines included in text (example:overline, underline and strike)	*/
/*none value will remove the underline from our anchor tag*/
	text-decoration: none;
}

/*Child selector*/
form > label{
	color: rgb(86,199,219);
}

body {
	background: deepskyblue;
}

section{
/*vh - viewport height*/
	height: 100vh;
	text-align: center;
}

html{
/*scroll-behavior property that changes the scrolling behavior when clicking anchor tags	*/
	scroll-behavior: smooth;
}

nav{
	background-color: white;
}

/*pseudo class*/
a:hover{
	background-color: #42edaf;
}

div{
	display: inline;
/*float property changes the horizontal alignment of an elemnts float either to the left or right	*/
	float: right;
}

ol{
	list-style-none: none;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
/*the position property changes the position of an elemnt based on a certain criteria	*/
	position: relative;
	left: 37.25%;
}

button{
	background-color: peachpuff;
	color: whitesmoke;
	border: 0;
	border-radius: 15px;
}