#external-styling{
	color: red;
}

*{
	font-family: Courier New, monospace;
	font-size: 25px;
}

h1{
	font-size: 45px;
}

#languages{
	text-transform: uppercase;
}

.list{
	background-color: cornflowerblue;
}

li[class="other-tools"]{
    border: solid;
    border-color: cornflowerblue;
}


img + ol{
	list-style-type: none;
}

section img{
	width: 250px;
	height: 250auto;
	border-radius: 50%;
}

ol ~ p {
	margin: 2px;
}

section > p{
	letter-spacing: 1px;
}