/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

nav{
   position: sticky;
   top: 0;
   background-color: white;
     border-top: 1px solid rgba(255,255,255, .2);
  border-bottom: 1px solid rgba(255,255,255, .2);
}

nav ul {
    display: flex;
    list-style: none;
    margin: 2em 3em;
}

.nav-logo{
    margin-left: 10em;
    list-style: none;
}

.right-nav {
    display: inline-flex;
    font-size: 20px;
    padding-left: 25em;
}

.nav{
    margin-left: 2em;
}

.tuitt-button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #c2195b;
}

#bg-image {
    background-image: url('https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg');
    background-position: center;
    width: 85%;
    height: auto;
    margin:auto;
}

.front-bg {
    position: relative;
    min-height: 40vh;
}

.front-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}


.container {
    display: relative;
    float: right;
    width: 40%;
    opacity: 1;
}

.title, .subtitle{
    margin: 1em 3em;
    color: white;
    padding-top: .5em;
    text-align: right;
    margin-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
    position: relative;
}

.title{
    font-size: 30px;
}

.subtitle{
    font-size: 20px;
}

.apply-button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: #c2195b;
    color: white;
    float: right;
    margin-right: 4em;
    font-size: 15px;
    position: relative;
}

.intro, .pre-footer {
    margin: 11em 0;
    text-align: center;
}

.title-2 {
    font-size: 35px;
    font-family: 'Zilla Slab';
    margin-bottom: 2em;
}

.intro-description, .prefooter-description{
    padding-left: 15em;
    margin:auto;
    text-align: left;
    padding-right: 15em;
        width: 85%;
}

.prefooter-description{
    text-align: center;
}

.book-button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #336589;
    color: white;
    font-size: 20px;
    margin-top: 2em;
}


.pre-footer{
    background-color: #f7fbfb;
}

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

footer span {
    margin-left:3em;
}
